
body{
    font-family: Verdana;
}
.buttons {
    padding: 8px 20px; /* Set padding of 10 pixels on the top and bottom, and 20 pixels on the left and right */
    font-size: 1em; /* Set the font size to 1.5 times the default size */
    color: white; /* Set text color to white */
    background-color: hsl(214, 100%, 74%); /* Set background color using HSL values */
    border-radius: 5px; /* Apply a border-radius of 5 pixels for rounded corners */
    cursor: pointer; /* Change the cursor to a pointer on hover, indicating it's clickable */
    transition: background-color 0.25s; /* Apply a smooth transition effect to the background color over 0.25 seconds */

}

.buttons:hover {
    background-color: hsl(214, 100%, 58%); /* Change the background color on hover using HSL values */
}

.myLabels { /* this is a class with the . */
    font-size: 1.5em;
}